@import "tailwindcss";

:root {
  --primary: #009a9e;
  --primary-light: #7aced4;

  --secondary: #00314a;
  --secondary-dark: #0a3635;

  --text: #00314a;
  --muted: #64748b;

  --border: #e2e8f0;
  --background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-weight: 400;
  overflow-x: hidden;
}

/* Text Selection */
::selection {
  background: var(--primary);
  color: white;
}

/* Scroll Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  will-change: transform;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}